* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --blue: #35a5fb;
}

body {
  position: relative;
  background-image: url(img/bg1.jpg);
  background-position: fit;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  flex-direction: column;

}

.body-overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: #000;
  opacity: .4;
  z-index: -1;
}

.counter-text {
  color: #fff;
  font-size: 40px;
  position: relative;
  top: -50px;
}

.content {
  color: #fff;
  font-size: 26px;
  position: relative;
  top: -30px;
}
i {
  color: #9a3535;
  font-size: 46px;
  position: relative;
  top: -45px;
}

/* container */
.container {
  width: 650px;
  height: 500px;
  background-color: rgba(255, 225, 225, 0.15);

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

/* text */
.text-container {
  width: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.text-field {
  color: var(--blue);
  font-size: 150px;
}

/* button container */

.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 50%;
}

.btn {
  margin: 10px;
  padding: 16px 80px;
  border: none;
  background-color: rgba(24, 29, 29,.9);
  color: var(--blue);
  display: block;
  font-size: 50px;
  cursor: pointer;
}

.btn:active {
  transform: scale(.97);
}

.up-btn {
  font-size: 37px;
}

.down-btn {
  font-size: 17px;
  font-weight: bold;
  
}

a {
  text-decoration: none;
  color: #35a5fb;
}

.reset-btn {
  font-size: 20px ;
  font-weight: bold;
}

/* Mobile */
@media (max-width:820px) {
  .container {
    display: flex;
    max-width: 70%;
    
  }
  p{
    display: flex;
    justify-content: center;
    width: 60%;
  }

  .btn {
    max-width: 80%;
  }
}
@media (max-width:420px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    max-width: 88%;
    
  }
  p{
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .btn {
    max-width: 100%;
    resize: both;

  }
  .text-container {
    position: absolute;
    padding-bottom: 300px;
  }
  .buttons-container {
    position: absolute;
    padding-top: 230px;
  }

  .content {
    font-size: 20px;
  }

  .counter-text {
    top: -70px;
  }

  i {
    font-size: 50px;
    
  }
}